openapi: 3.0.0
info:
  title: Building Search and 3D Model API
  version: 1.0.0
  description: |
    Спецификация OpenAPI для доступа к данным домов (через Geocoder и Places API) и 3D‑моделям зданий.
    Содержит методы для поиска зданий по координатам, получения подробной информации о здании и получения URL‑адреса 3D‑модели (digital‑twin).

servers:
  - url: https://catalog.api.2gis.com/3.0
    description: Каталог объектов 2GIS
  - url: https://disk.2gis.com/digital-twin/models_s3
    description: Хранилище 3D‑моделей (digital twin)

paths:
  /items/geocode:
    get:
      summary: Поиск зданий по координатам
      description: |
        Возвращает список зданий в заданном радиусе от точки. Рекомендуется указывать параметр `radius` не менее 300 м, чтобы избежать пропуска объектов【856005776591016†L323-L360】.
      parameters:
        - in: query
          name: lon
          required: true
          schema:
            type: number
          description: Долгота точки (в градусах).
        - in: query
          name: lat
          required: true
          schema:
            type: number
          description: Широта точки (в градусах).
        - in: query
          name: radius
          required: false
          schema:
            type: integer
            minimum: 10
          description: Радиус поиска в метрах.
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum: [building]
          description: Тип объектов (для домов — `building`).
        - in: query
          name: key
          required: true
          schema:
            type: string
          description: API‑ключ.
      responses:
        '200':
          description: Список найденных зданий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'

  /items/byid:
    get:
      summary: Получение подробной информации о здании
      description: |
        Возвращает сведения о здании по его идентификатору. Можно указать дополнительные
        поля через параметр `fields`. Допустимые поля для зданий включают материал, количество квартир,
        количество подъездов, тип перекрытий, год постройки и др.【992976022039546†L257-L273】.
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Идентификатор объекта (здания).
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: |
            Список дополнительных полей, разделённых запятой. Примеры: `items.address`, `items.floors`,
            `items.structure_info.material`, `items.structure_info.apartments_count`,
            `items.structure_info.porch_count`, `items.structure_info.floor_type`,
            `items.structure_info.year_of_construction`, `items.structure_info.elevators_count`,
            `items.structure_info.gas_type`, `items.structure_info.project_type`,
            `items.structure_info.chs_name`, `items.structure_info.chs_category`【992976022039546†L257-L273】.
        - in: query
          name: key
          required: true
          schema:
            type: string
          description: API‑ключ.
      responses:
        '200':
          description: Подробная информация о здании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildingDetailsResponse'

  /models:
    get:
      summary: Получение списка доступных 3D‑моделей
      description: |
        Возвращает список доступных цифровых двойников (digital twin) для зданий. Этот энд‑поинт является
        демонстрационным — он показывает, как может выглядеть сервис для работы с 3D‑моделями. В реальности
        3D‑модели предоставляются по ссылкам типа `https://disk.2gis.com/digital-twin/models_s3/...` и доступны
        только для некоторых объектов【856005776591016†L323-L360】.
      parameters:
        - in: query
          name: building_id
          required: false
          schema:
            type: string
          description: Идентификатор здания, чтобы получить 3D‑модель именно для этого здания.
      responses:
        '200':
          description: Список моделей
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'

  /models/{modelId}:
    get:
      summary: Получение 3D‑модели по идентификатору
      description: |
        Возвращает описание и URL 3D‑модели здания. Модель представлена в формате glTF/GLB, который
        поддерживается MapGL API для отображения на карте【856005776591016†L227-L239】. Сама модель загружается
        по указанной ссылке.
      parameters:
        - in: path
          name: modelId
          required: true
          schema:
            type: string
          description: Идентификатор 3D‑модели (например, совпадает с id здания).
      responses:
        '200':
          description: Данные о 3D‑модели
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelDetail'

components:
  schemas:
    GeocodeItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        full_name:
          type: string
        type:
          type: string
      required: [id, name, type]

    GeocodeResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/GeocodeItem'
            total:
              type: integer

    BuildingDetails:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address_name:
          type: string
        type:
          type: string
        floors:
          type: integer
        point:
          type: object
          properties:
            lon:
              type: number
            lat:
              type: number
        structure_info:
          type: object
          description: Дополнительная информация о конструкции и характеристиках здания【992976022039546†L257-L273】.
          properties:
            material:
              type: string
            apartments_count:
              type: integer
            porch_count:
              type: integer
            floor_type:
              type: string
            gas_type:
              type: string
            year_of_construction:
              type: integer
            elevators_count:
              type: integer
            is_in_emergency_state:
              type: boolean
            project_type:
              type: string
            chs_name:
              type: string
            chs_category:
              type: string
      required: [id, name, type]

    BuildingDetailsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/BuildingDetails'
            total:
              type: integer

    Meta:
      type: object
      properties:
        api_version:
          type: string
        code:
          type: integer
        issue_date:
          type: string
          format: date
      required: [api_version, code, issue_date]

    Model:
      type: object
      properties:
        id:
          type: string
        building_id:
          type: string
        url:
          type: string
        description:
          type: string
      required: [id, url]

    ModelDetail:
      type: object
      properties:
        id:
          type: string
        building_id:
          type: string
        url:
          type: string
        format:
          type: string
          description: Формат модели (обычно glTF/GLB).
        scale:
          type: array
          items:
            type: number
          description: Начальный масштаб модели, как в примере GeoJSON【856005776591016†L323-L359】.
        rotation:
          type: array
          items:
            type: number
          description: Параметры вращения.
        translate:
          type: array
          items:
            type: number
          description: Смещение модели в метрах.
        preview_image:
          type: string
          description: Ссылка на изображение превью модели (при наличии).
      required: [id, url, format]